# Discord
DISCORD_TOKEN=
CLIENT_ID=
GUILD_ID=

# Supabase, opzionale se vuoi salvare gli utenti in ingresso
SUPABASE_URL=
SUPABASE_KEY=

# F1 - Server principale
F1_REGISTRATION_CHANNEL_ID=1514358636019712100
F1_PADDOCK_CHANNEL_ID=1514358677639790733
F1_RACES_CHANNEL_ID=1514358679388946662
F1_CALENDAR_CHANNEL_ID=1514358681192366141
F1_RACE_RESULTS_CHANNEL_ID=1514358682807173150
F1_RESULTS_CHANNEL_ID=1514358682807173150
F1_STANDINGS_CHANNEL_ID=1514358684820570142
F1_STATS_CHANNEL_ID=1514358686942761010
F1_MEDIA_CHANNEL_ID=1514358689320931460
F1_STAFF_REQUESTS_CHANNEL_ID=1514358700486430810
F1_STAFF_APPROVAL_CHANNEL_ID=1514358700486430810
BOT_LOG_CHANNEL_ID=1514358697521053749

# Ruoli
ROLE_F1_DRIVER_ID=

# NEWS / COMMUNITY
NEWS_GAMING_CHANNEL_ID=1514358606584352962
NEWS_SPORT_CHANNEL_ID=1514615319044558908
NEWS_FC_CHANNEL_ID=1514358613362081802
NEWS_F1_CHANNEL_ID=1514358632454688779
NEWS_FOOTBALL_MANAGER_CHANNEL_ID=1514358640297902253
CLIPS_SCREENS_CHANNEL_ID=1514358605548097637
LOOKING_FOR_PLAYERS_CHANNEL_ID=1514358604357042287
NEWS_INTERVAL_MINUTES=30

# Feed RSS italiani, separati da virgola. Puoi cambiarli quando vuoi senza toccare il codice.
NEWS_GAMING_FEEDS=https://multiplayer.it/rss.xml,https://www.everyeye.it/rss.xml
NEWS_SPORT_FEEDS=https://sport.sky.it/rss/sport.xml,https://www.gazzetta.it/rss/home.xml
NEWS_FC_FEEDS=https://multiplayer.it/rss/tag/ea-sports-fc.xml,https://www.everyeye.it/rss/ea-sports-fc.xml
NEWS_F1_FEEDS=https://www.formulapassion.it/feed,https://it.motorsport.com/rss/f1/news/
NEWS_FOOTBALL_MANAGER_FEEDS=https://multiplayer.it/rss/tag/football-manager.xml
